<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    
    <title>Rewards Tracker</title>
  </head>
  <body>

    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/icons/credit-card.svg" width="112" height="28">
        </a>
    
      <div id="navbarBasicExample" class="navbar-menu">

      <% if (user === null) { %>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                  <a class="button secondary-btn is-rounded" href="/users/register"><strong>Register</strong></a>
                  <a class="button secondary-btn is-rounded" href="/users/login">Login</a>
              </div>
            </div>
          </div>

      <% } else { %>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Expenses</a>
    
            <div class="navbar-dropdown">
              <a class="navbar-item" href="/expenses">List of Expenses</a>
              <a class="navbar-item" title = "Disabled" href="/expenses/new">Add Expenses</a>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Cards
            </a>
    
            <div class="navbar-dropdown">
              <a class="navbar-item" href="/cards">List of Cards</a>
              <hr class="navbar-divider">
              <a class="navbar-item" href="/cards/new">Add Card</a>
            </div>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <form method="POST" action="/users/logout">
                  <button class="button secondary-btn is-rounded" href="/users/logout"><strong>Logout</strong></button>
                </a>
              </form>
            </div>
          </div>

      <% } %>

    </nav>
