<%- include('../partials/header'); %>
    
    <div class="container">

        <h1>Welcome to your account</h1>

        <div class="btn-group action-buttons">
            <a class="btn btn-primary" href="/expenses">Expenses</a> 
            <a class="btn btn-danger" href="/cards">Cards</a>
            
        </div>

    </div>

<%- include('../partials/footer'); %>