<%- include('../partials/header'); %>
    
    <div class="container">

        <h1>Successfully logged out!</h1>

        <p>
            <a href="/users/login">Back to Login</a>
        </p>

    </div>

<%- include('../partials/footer'); %>