<%- include('../partials/header'); %>
    
    <div class="container">

        <div class="title-wrapper has-text-centered ejsTitle">
            <h2 class="title is-2">
                Logged Out!
            </h2>
            <div class="divider is-centered"></div>
        </div>

        <div class="columns is-centered">
            <div class="space">
                <a class="button is-primary is-rounded" href="/users/login">Back to Login</a>
            </div>
        </div>
    </div>

<%- include('../partials/footer'); %>